.checked{
  text-decoration-line: line-through; 
}
body{
  background-color: rgb(153, 211, 153);
  text-align: center;
  font: normal 20 pt arial, sans-serif 
}
section{
  background: white;
    border-radius: 20px;
    padding: 30px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 5px px rgba(0, 0, 0, 0);
    font:normal 50 pt Arial Black
}
#add{
  height: 4px;
  width: 1px;
}
